<?xml version="1.0"?>
<launch>

  <!-- ========================== -->
  <!--        Configuration       -->
  <!-- ========================== -->

  <!-- run_service_caller:  If true runs rqt_service_caller gui for calling services.-->
  <arg name="run_service_caller" default="false" doc="If true runs rqt_service_caller gui for calling various services" />

  <!-- run_rviz:  If true runs rviz gui.-->
  <arg name="run_rviz" default="true" doc="If true runs rviz gui with config stored under cfg directory."/>

  <!--============================== -->
  <!--       Implementation          -->
  <!-- ============================= -->

  <!-- launch gaussian process node  -->
  <node name="gaussian_process" pkg="gp_regression" type="gaussian_process" output="screen" respawn="true" />

  <!-- rviz -->
  <node if="$(arg run_rviz)" name="rviz_gp" pkg="rviz" type="rviz" respawn="false" args="-d $(find gp_regression)/config/config.rviz" output="screen"/>

  <!-- rqt_service_caller -->
  <node if="$(arg run_service_caller)" name="service_caller_gp" pkg="rqt_service_caller" type="rqt_service_caller" respawn="false"/>

</launch>
